# best model select

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [14]:
df=sns.load_dataset('titanic')
x=df[['pclass','sex','age','sibsp','parch','fare']]
y=df['survived']
x=pd.get_dummies(x, columns=['sex'])
x.age.fillna(x.age.mean(),inplace=True)

C:\Users\qasim\AppData\Local\Temp\ipykernel_17840\4128914004.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x.age.fillna(x.age.mean(),inplace=True)

In [15]:
x.isnull().sum()

pclass        0
age           0
sibsp         0
parch         0
fare          0
sex_female    0
sex_male      0
dtype: int64

In [16]:
x.head()

   pclass   age  sibsp  parch     fare  sex_female  sex_male
0       3  22.0      1      0   7.2500       False      True
1       1  38.0      1      0  71.2833        True     False
2       3  26.0      0      0   7.9250        True     False
3       1  35.0      1      0  53.1000        True     False
4       3  35.0      0      0   8.0500       False      True

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [20]:
models=[LogisticRegression(),RandomForestClassifier(),SVC(),KNeighborsClassifier(), DecisionTreeClassifier()]
models_name=['LogisticRegression','RandomForestClassifier','SVC','KNeighborsClassifier','DecisionTreeClassifier']
model_score=[]
for model, models_name in zip(models, models_name):
    model.fit(x_train, y_train)
    y_pred=model.predict(x_test)
    accuracy_score(y_test, y_pred)
    model_score.append(accuracy_score(y_test, y_pred))
    print(models_name, accuracy_score(y_test, y_pred))
    
sorted_models = sorted(zip(models_name, model_score), key=lambda x: x[1], reverse=True)
for model in sorted_models:
    print("accuracy_score: ", f'{model[0]}: {model[1]:.2f}')

c:\Users\qasim\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression 0.8097014925373134
RandomForestClassifier 0.8022388059701493
SVC 0.6604477611940298
KNeighborsClassifier 0.6940298507462687
DecisionTreeClassifier 0.7388059701492538
accuracy_score:  D: 0.81
accuracy_score:  e: 0.80
accuracy_score:  s: 0.74
accuracy_score:  i: 0.69
accuracy_score:  c: 0.66

# take pakistan covid-19 dataset and apply EDA nd machine learning