## About Lesson
Is lecture main ham seekhen gay k pandas library ko use karne ki tips and tricks kon konsi hyn.
Ye lecture long hyn tu ap se request hy is ko poora dekh k sath sath pactice b karen.

### 01- how to find the version of pandas

In [1]:
import pandas as pd
pd.__version__

'2.2.3'

another way

In [2]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : 0691c5cf90477d3503834d983f69350f250a6ff7
python                : 3.13.0
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26100
machine               : AMD64
processor             : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_Pakistan.1252

pandas                : 2.2.3
numpy                 : 2.1.3
pytz                  : 2024.2
dateutil              : 2.9.0.post0
pip                   : 24.3.1
Cython                : None
sphinx                : None
IPython               : 8.28.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : 3.1.4
lxml.etree            : None
matplotlib            : 3.9.2
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : 0.9.0
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2024.2
qtpy                  : None
pyqt5                 : None

### 02 make data frames

In [3]:
pd.DataFrame(({'colum1': [1,2,3] , 'colum2': [4,5,6], 'colum3': [7,8,9]}))

   colum1  colum2  colum3
0       1       4       7
1       2       5       8
2       3       6       9

### numpy array use to create data frme

In [4]:
import numpy as np
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [5]:
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
pd.DataFrame(np.random.rand(4,6))

          0         1         2         3         4         5
0  0.878914  0.036375  0.399902  0.763410  0.501748  0.686943
1  0.086393  0.567337  0.121281  0.156273  0.838573  0.589993
2  0.002989  0.323925  0.185647  0.609963  0.453691  0.402847
3  0.693803  0.035239  0.246807  0.418994  0.831425  0.696812

In [9]:
df = pd.DataFrame(np.random.rand(4,6), columns= ['A', 'B', 'C', 'D', 'E', 'F'])

### HOW TO RENAME COLUMNS?

In [13]:
df.rename(columns ={'A':'col_A','B': 'col_B', 'C': 'col_C', 'D':'col_D','E':'col_E','F':'col_F'}, inplace=True)

In [14]:
df

      col_A     col_B     col_C     col_D     col_E     col_F
0  0.579116  0.406467  0.118305  0.884961  0.207537  0.869687
1  0.196820  0.633024  0.928118  0.029471  0.036660  0.991604
2  0.968840  0.146071  0.446960  0.997582  0.347879  0.233011
3  0.124664  0.487831  0.714629  0.435401  0.805921  0.964047

### another way to change column name

In [18]:
df.columns=['col_aa','col_bb','col_cc','col_dd','col_ee','col_ff']
df

     col_aa    col_bb    col_cc    col_dd    col_ee    col_ff
0  0.579116  0.406467  0.118305  0.884961  0.207537  0.869687
1  0.196820  0.633024  0.928118  0.029471  0.036660  0.991604
2  0.968840  0.146071  0.446960  0.997582  0.347879  0.233011
3  0.124664  0.487831  0.714629  0.435401  0.805921  0.964047

### to replace character in a string

df.columns=