## About Lesson
Is lecture main ham seekhen gay k pandas library ko use karne ki tips and tricks kon konsi hyn.
Ye lecture long hyn tu ap se request hy is ko poora dekh k sath sath pactice b karen.

### 01- how to find the version of pandas

In [2]:
import pandas as pd
pd.__version__

'2.2.3'

another way

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : 0691c5cf90477d3503834d983f69350f250a6ff7
python                : 3.13.0
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26100
machine               : AMD64
processor             : Intel64 Family 6 Model 142 Stepping 10, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_Pakistan.1252

pandas                : 2.2.3
numpy                 : 2.1.3
pytz                  : 2024.2
dateutil              : 2.9.0.post0
pip                   : 24.3.1
Cython                : None
sphinx                : None
IPython               : 8.28.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : 3.1.4
lxml.etree            : None
matplotlib            : 3.9.2
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : 0.9.0
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2024.2
qtpy                  : None
pyqt5                 : None

### 02 make data frames

In [4]:
pd.DataFrame(({'colum1': [1,2,3] , 'colum2': [4,5,6], 'colum3': [7,8,9]}))

   colum1  colum2  colum3
0       1       4       7
1       2       5       8
2       3       6       9

### numpy array use to create data frme

In [5]:
import numpy as np
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
pd.DataFrame(np.random.rand(4,6))

          0         1         2         3         4         5
0  0.538273  0.437651  0.721270  0.806541  0.162437  0.498901
1  0.882479  0.062929  0.977470  0.492205  0.315153  0.619082
2  0.908222  0.126169  0.380372  0.759626  0.806021  0.608429
3  0.543608  0.612303  0.449524  0.413623  0.937058  0.131080

In [8]:
df = pd.DataFrame(np.random.rand(4,6), columns= ['A', 'B', 'C', 'D', 'E', 'F'])

### HOW TO RENAME COLUMNS?

In [9]:
df.rename(columns ={'A':'col_A','B': 'col_B', 'C': 'col_C', 'D':'col_D','E':'col_E','F':'col_F'}, inplace=True)

In [10]:
df

      col_A     col_B     col_C     col_D     col_E     col_F
0  0.126849  0.581680  0.160808  0.154257  0.004385  0.546506
1  0.550405  0.036386  0.522227  0.441801  0.192469  0.967991
2  0.367623  0.018386  0.139292  0.579459  0.809425  0.445583
3  0.288913  0.150805  0.452265  0.479877  0.830270  0.574162

### another way to change column name

In [11]:
df.columns=['col_aa','col_bb','col_cc','col_dd','col_ee','col_ff']
df

     col_aa    col_bb    col_cc    col_dd    col_ee    col_ff
0  0.126849  0.581680  0.160808  0.154257  0.004385  0.546506
1  0.550405  0.036386  0.522227  0.441801  0.192469  0.967991
2  0.367623  0.018386  0.139292  0.579459  0.809425  0.445583
3  0.288913  0.150805  0.452265  0.479877  0.830270  0.574162

### to replace character in a string

In [13]:
df.columns=df.columns.str.replace('_','-')
df

     col-aa    col-bb    col-cc    col-dd    col-ee    col-ff
0  0.126849  0.581680  0.160808  0.154257  0.004385  0.546506
1  0.550405  0.036386  0.522227  0.441801  0.192469  0.967991
2  0.367623  0.018386  0.139292  0.579459  0.809425  0.445583
3  0.288913  0.150805  0.452265  0.479877  0.830270  0.574162

adding pre-fix

In [14]:
df.add_prefix('col_')

   col_col-aa  col_col-bb  col_col-cc  col_col-dd  col_col-ee  col_col-ff
0    0.126849    0.581680    0.160808    0.154257    0.004385    0.546506
1    0.550405    0.036386    0.522227    0.441801    0.192469    0.967991
2    0.367623    0.018386    0.139292    0.579459    0.809425    0.445583
3    0.288913    0.150805    0.452265    0.479877    0.830270    0.574162