In [21]:
import pandas as pd

In [22]:
data=pd.read_excel("pandas_01_day6.xlsx")

In [23]:
data

    height weight favourite_dish
0      5.8    101  Chicken Pulao
1      6.2     92        Biryani
2      5.9     62  Karahi Ghosht
3      5.9     95  Chicken Pulao
4      5.9     55  Chicken Pulao
..     ...    ...            ...
82     5.4     55          Pasta
83     5.9     75  Karahi Ghosht
84     5.4     61        Biryani
85     6.2     68  Chicken Pulao
86     5.1     96        Biryani

[87 rows x 3 columns]

In [24]:
data.describe()

          height
count  87.000000
mean    6.163908
std     5.739900
min     5.000000
25%     5.300000
50%     5.600000
75%     5.800000
max    59.000000

In [25]:
data['height'].astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     object
 2   favourite_dish  87 non-null     object
dtypes: float64(1), object(2)
memory usage: 2.2+ KB

In [26]:
data['height'].mean()

np.float64(6.163908045977012)