1. pandas
   used to handle data frames
2. numpy
3. matplotlib
4. seaborn
5. plotly
6. scipystats
7. scikit-learn
8. streamlit

In [5]:
import pandas as pd
data=pd.read_csv("data.csv")

In [6]:
data

   roll no  name   class       adress
0        1  qasim      4  nagrianwala
1        2    ali      5  nagrianwala

In [4]:
data

   roll no  name   class       adress
0        1  qasim      4  nagrianwala
1        2    ali      5  nagrianwala